@import "../variables";

.background {
  position: absolute;
  background-color: #28282899;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.window {
  display: flex;
  width: 500px;
  height: 500px;
  background: white;
}
